<div class="container">
    <h2>Edit comments</h2>
    <form [formGroup]="commentsForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" formControlName="content" required>
        </div>

        <div class="form-group">
            <label for="user">User</label>
            <input type="text" class="form-control" id="user" formControlName="content" required>
        </div>


        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-primary" routerLinkActive="/searchGame" routerLink="/searchGame">return</button>


    </form>
</div>