<h2>My List Exchanges</h2>
<table class="table table-bordered">
 <thead>
   <tr>
     <th>id</th>
     <th>nameGame</th>
     <th>description</th>
     <th>image</th>
     <th>state</th>
   </tr>
 </thead>
 <tr *ngFor="let change of changes">
   <td>{{change.id}}</td>
   <td>{{change.nameGame}}</td>
   <td>{{change.description}}</td>
   <td><img [src]="change.image" width="150" height="150" /></td>
   <td>{{change.state}}</td>
 </tr>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>User Game</th>
      <th>Your Game</th>
      <th>state</th>
      <th>request</th>
    </tr>
  </thead>
  <tr *ngFor="let requests of listRequests">
    <td>{{requests.userRq.firstname}}</td>
    <td><img [src]="requests.change1.image" width="150" height="150" /></td>
    <td><img [src]="requests.change2.image" width="150" height="150" /></td>
    <td>{{requests.state}}</td>
    <td><button (click)="myEvent($event)" type="submit" class="btn btn-success">Accept</button></td>

  </tr>
 </table>